body {
    padding: 0px;
    margin: 0px;
    text-align: center;
    justify-content: center;
}

.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 5vh;
    border: 0.1px solid rgb(128, 128, 128);
    border-radius: 1px 1px 10px 10px;
    background-color: rgba(39, 39, 39, 0.75);
    display: flex;
    justify-content: center;
}

.navbar a {
    position: inline-block;
    color: #c4c7c6;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    margin-right: 15px;
    margin-left: 5px;
    font-size: 15px;
}

.navbar a:hover {
    font-size: 15px;
    color: aliceblue;
}

.inicio {
    height: 100vh;
    background-color: #acacac;
}

.meuNome {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 100vh;
    margin: 0;
    color: #000000;
}

.meuNome>h1 {
    font-size: 5rem;
    font-family: 'Rubik Doodle Shadow', sans-serif;
}

.meuNome>h2 {
    font-size: 4rem;
    font-family: 'Nanum Brush Script', cursive;
}

.github {
    font-size: 33px;
    color: rgb(0, 0, 0);
}

.github:hover {
    font-size: 33px;
    color: rgb(255, 255, 255);
}

.Habilidades {
    min-height: 90vh;
    background-color: #474e5d;
    margin-top: 0px;
    
}

.Habilidades > .titulo-habilidades > h1 {
    padding: 35px;
    margin: 0px;
    font-size: 70px;
    font-family: 'Oswald', sans-serif;
}

.linguagens {
    display: flex;
    justify-content: center;                                                                                                                                                                    
    align-items: center;
}

.Html, .Css, .Js, .PHP {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding: 20px;
    margin: 10px;
    font-size: 100px;
}

.texto-hover {
    position: absolute;
    padding: 5px;
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 10px;
    font-size: 20px;
}

.Html:hover {
    color: #fd5f04;
}

.Css:hover {
    color: #0068f0;
}

.Js:hover {
    color: #fdcf04;
}

.PHP:hover {
    color: #5a3bc9a8;
}

.Projetos {
    min-height: 100vh;
    background-color: #a3a3a3;
}