body {
    padding: 0px;
    margin: 0px;
    text-align: center;
    justify-content: center;
}

.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 5vh;
    border: 0.1px solid rgb(83, 86, 87);
    border-radius: 1px 1px 10px 10px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(50px);
    display: flex;
    justify-content: center;
}

.navbar a {
    position: inline-block;
    color: #c4c7c6;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    margin-right: 15px;
    margin-left: 5px;
    font-size: 15px;
}

.navbar a:hover {
    font-size: 15px;
    color: aliceblue;
}

.inicio {
    height: 100vh;
    background-color: #202124;
}

.meuNome {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #ffffff;
}

.meuNome>h1 {
    font-size: 5rem;
    font-family: 'Rubik Doodle Shadow', sans-serif;
}

.meuNome>h2 {
    font-size: 4rem;
    font-family: 'Nanum Brush Script', cursive;
}

.github {
    font-size: 33px;
    color: white;
}

.github:hover {
    font-size: 33px;
    color: rgb(0, 0, 0);
}

.habilidades {
    height: 100vh;
    background-color: #3f3e3e;
    margin-top: 20px;
    align-items: center;
}

.Html , .Css , .Js , .PHP {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding: 20px;
    margin: 10px;
    font-size: 50px;
}

.texto-hover {
    position: absolute;
    padding: 5px;
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    font-size: 15px;
}

.Html:hover {
    color: #fd5f04;
}

.Css:hover {
    color: #368dff;
}

.Js:hover {
    color: #fdcf04;
}

.PHP:hover {
    color: #1d04fd;
}